* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: deeppink;
}

body {
  #section1 {
    width: 300px;
    position: relative;
  }
  button {
    position: absolute;
    right: 0;
    width: 100px;
  }
}
