* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 200px;
  }

  #retry:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
  }

  #colorPicker {
    div {
      display: flex;
      align-items: center;

      h5 {
        width: 200px;
      }
      p {
        width: 200px;
        height: 50px;
        margin: 5px;
      }
    }
  }
}
